{% extends "profilebase.html" %}

{% block content %}
<div class="flex flex-1 items-center justify-center bg-gray-100">
    <div class="flex w-full">

        <div class="w-3/12 p-6"></div>

        <div class="w-5/12 p-6 space-y-5">

            <div class="bg-white border rounded-lg shadow-md p-5">
                <form method="post" enctype="multipart/form-data" action="{% url 'createpost' %}">
                    {% csrf_token %}

                    <textarea rows="3" class="w-full border rounded-md p-2" name="content" placeholder="What's on Your Mind...."></textarea>

                    <div class="flex items-center justify-between mt-2 p-2 border rounded-md">
                        <input type="file" class="" name="image">
                        <button type="submit" class="bg-blue-500 text-white px-5 py-2 rounded-lg hover:bg-blue-600">Post</button>
                    </div>
                </form>
            </div>

            {% for post in posts %}
            <div class="bg-white p-4 rounded-lg shadow-md mb-4">
                <div class="flex items-center mb-2 gap-5">
                    <img src="" alt="" class="h-10 w-10 rounded-full">
                    <div>
                        <h3 class="font-bold">{{ post.author.username }}</h3>
                        <p class="text-sm text-gray-500">{{ post.created_at }}</p>
                    </div>
                </div>
                <p class="mb-2">{{ post.content }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="" class="w-full rounded-md max-h-[500px] object-cover">
                {% endif %}
            </div>
            {% endfor %}

        </div>

        <div class="w-2/12 p-6"></div>
        <div class="w-2/12 p-6"></div>

    </div>
</div>
{% endblock %}
